<!DOCTYPE html>
<html>
  <head>
    <title>HotwireIe11Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'polyfill', 'data-turbo-track': 'reload' if browser.ie? %>
    <%= javascript_include_tag 'https://polyfill.io/v3/polyfill.min.js?features=fetch', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
